/* Removes the defualt style insert by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: "DM Serif Text", serif;
}