/* Removes the defualt style insert by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: "DM Serif Text", serif;
}

/* header */
header {
    padding: 0 2rem;
    z-index: 80;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 10px;
}

/* removes underline text */
header a {
    text-decoration: none;
    color: #000000;
}

/* ul menu list */
.menu-bar {
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
}

/* navigation bar menu and home image*/
img {
    box-shadow: 5px 5px 15px rgb(22, 31, 6);
    background-color: #06290771;
    border-radius: 4px;
}

/* navigation bar text*/
ul a {
    font-family: "Eagle Lake", serif;
}

/* navigation bar, hidden navigation bar */
nav {
    position: absolute;
    width: 19rem;
    height: 5.9rem;
    padding: 0 4rem;
    top: 120%;
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    display: none;
    border-radius: 0.5rem;
    align-content: center;
}

/* display navigation bar when clicked */
#toggle:checked~nav {
    display: block;
}

/* hidden input checkbox in navbar */
header input {
    display: none;
}

/* intro image */

#intro-image {
    background-image: url('../img/pexels-eberhardgross.jpg');
    background-size: cover;
    position: relative;
    min-height: 50vh;
}

/* page name */
h1 {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: normal;
    font-size: 5rem;
    background-color: #ffffff10;
    backdrop-filter: blur(0.50px);
    border-radius: 15px;
    color: hsl(166, 34%, 77%);
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* adventure section */
#adventure {
    height: 15rem;
    display: flex;
    background-color: #062907;
}

/* adventure section content */
#adventure>div {
    background-color: hsl(167, 20%, 51%);
    width: 23rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 20px;
    border-radius: 10px;
    align-content: center;
}

.adventure>h3 {
    text-transform: capitalize;

}

.adventure>p,
h3 {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

/* list to do section */
#list-to-do {
    background-color: #062907;
    align-content: center;
}

.sub-list {
    background-color: hsl(167, 20%, 51%);
    width: 23rem;
    height: 10rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 20px;
    border-radius: 10px;
    align-content: center;
}

.sub-list>h3,
p {
    display: flex;
    align-content: center;
}


/* media 768px tablets and larger */
@media screen and (min-width: 768) {
    #intro-image {
        min-height: 40vh;
    }

    /* change font size according to screen sizes*/
    h1 {
        font-size: calc(1.305rem + 4.2vw);
    }
}