/* Removes the defualt style insert by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    color: #000000;
    font-family: "DM Serif Text", serif;
    font-optical-sizing: auto;
}


header {
    width: 100%;
    top: 0;
    left: 0;
    align-content: center;
    background-color: #265a5c;
    height: 120px;
    /* sticky header while scroll */
    position: sticky;
}


.page-name {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 5rem;
    backdrop-filter: blur(0.50px);
    color: hsl(166, 34%, 77%);
    text-shadow: 2px 2px white;
    text-decoration: none;
}

/* navigation bar ul - list */
ul {
    list-style: none;
}

/* nav anchors */
a {
    text-decoration: none;
}

/* nav button, hidden on large screen */
button {
    display: none;
}

/* navbar */
nav {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 1.8rem;
}

/* navbar list large screen */
.navbar-large-screen li {
    /* makes li horizontal */
    display: inline-block;
    margin-left: 37px;
}

/* navbar content */
.navbar-large-screen span {
    color: aliceblue;
    font-weight: 500;
    text-transform: uppercase;
}

/* change coolr when hover on text */
.navbar-large-screen span:hover {
    color: hsl(166, 34%, 77%);
    text-decoration: 2.6px underline;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* hero section */
.hero-section {
    background-image: url('../img/pexels-eberhardgross.jpg');
    background-size: cover;
    background-position: center;
    height: 82vh;
    display: flex;
    justify-content: center;

    /* hero context */
    .hero-content-container {
        max-height: 200px;
        max-width: 412px;
        margin-top: 17%;
        align-content: center;
        padding: 2.3px;
        /* add black color in center while sides have #f7f7f7 */
        background: linear-gradient(135deg, #5c715e, #000000, #5c715e);
        /* adds white shadow under */
        box-shadow: 0px 0.8rem 1.5rem -0.7rem #f7f7f7;
        border-radius: 0.7rem;


        /* hero text*/
        .hero-text {
            padding: 1rem;
            color: #ffffff;

            h1 {
                font-size: large;
            }
        }
    }
}

/* */
/* adds background color to all section under hero section */
.background {
    background-color: #050504;
    display: flex;
    justify-content: center;
}

#section-cards {
    max-width: 80%;
    margin-top: 2rem;
    justify-content: center;
}

/* adds shadow to section */
.section-shadow {
    box-shadow: 4px 4px #dde0ab, -0.9em 0 0.8em #f5f9ee;
    border-radius: 10px;
}

/* locations */
.seceda {
    background-image: url("../img/pexels-pixabay-461944.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;

    .cards {
        background-color: #dde0ab;
        width: 40rem;
        align-self: flex-end;
        align-content: center;
        justify-content: center;
        border-radius: 8px;

        .seceda-content {
            justify-content: center;
            padding: 36px 36px;

            h3 {
                text-align: center;
                font-size: large;
            }
        }


    }

}

.lago {
    background-image: url("../img/pexels-eberhardgross-1387001.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;

    .cards {
        background-color: #f5e1da;
        width: 40rem;
        align-self: flex-end;
        align-content: center;
        justify-content: center;
        border-radius: 8px;

        .lago-content {
            justify-content: center;
            padding: 36px 36px;

            h3 {
                text-align: center;
                font-size: large;
            }
        }
    }
}


.cortina {
    background-image: url("../img/pexels-dreamypixel-554609.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;

    .cards {
        background-color: #99b27f;
        width: 40rem;
        align-self: flex-end;
        align-content: center;
        justify-content: center;
        border-radius: 8px;

        .cortina-content {
            justify-content: center;
            padding: 36px 36px;

            h3 {
                text-align: center;
                font-size: large;
            }
        }
    }

}

.lavaredo {
    background-image: url("../img/pexels-tomverdoot-3181458.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;

    .cards {
        background: linear-gradient(58deg, #f1f1f1, #392f2f, #915b4a);
        color: white;
        width: 40rem;
        align-self: flex-end;
        align-content: center;
        justify-content: center;
        border-radius: 8px;

        .lavaredo-content {
            justify-content: center;
            padding: 36px 36px;

            h3 {
                text-align: center;
                font-size: large;
            }
        }
    }

}

.cadini {
    background-image: url("../img/pexels-eberhardgross-3389531.jpg");
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    justify-content: center;
    width: 80vw;


    .card-4 {
        background-color: #393e469d;
        color: white;
        width: 40rem;
        height: fit-content;
        align-self: flex-start;
        align-content: center;
        justify-content: center;
        border-radius: 8px;


        .cadini-content {
            justify-content: center;
            padding: 36px 36px;

            h3 {
                text-align: center;
                font-size: large;
            }

        }
    }
}

/* feedback form body */
.form-container {
    /* form background */
    background-image: url("../img/pexels-eberhardgross-1386993.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46rem;
}


.feedback-header {
    /* hidden header */
    margin-left: 37%;
    /*display: none;*/
}

.feedback-header ul {
    list-style-type: none;
}

fieldset {
    padding-left: 6px;
    padding-right: 6px;
    border: 4px solid #ffffff;
    border-radius: 5px;

}

/* h5 in form */
.user-infor h5 {
    font-size: large;
    padding-bottom: 40px;
    text-align: center;
    height: 70px;
    padding-bottom: 30px;
    background-color: rgba(61, 98, 167, 0.307);
    border-radius: 3px;
    padding-top: 4px;

}

/* heart font */
.user-infor i {
    color: #ff0000;
    font-size: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* input */
.input-container input {
    background-color: #00000048;
    padding: 6px;
    margin-bottom: 10px;
    color: #ffffff;
    border-radius: 9px;
    border: 3px solid #ffffff;
    margin-top: 5px;
    font-size: medium;
    text-align: center;
}

.input-container label {
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: x-large;
}

/* text area */
textarea {
    width: 100%;
    height: 80px;
    padding: 6px;
    border: 4px solid #ffffff;
    background-color: rgb(246, 240, 229);
}

/* submit feedback */
.user-feeback-message {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* submit input*/
.user-feeback-message input {
    width: 7rem;
    height: 2.5rem;
    align-self: center;
    border-radius: 9px;
    text-transform: capitalize;
    border: 3px solid white;
    font-size: large;
    background-color: #00000048;
    font-weight: bold;
    color: #ffffff;

}

/* smaller screen 600px down */
@media only screen and (max-width: 600px) {}

/* small screen, 600px tablet up */
@media only screen and (min-width: 600px) {}

/* medium screen, 768px tablet up  */
@media(max-width: 768px) {

    header {
        height: 100px;
    }

    /* hidden navbar on left */
    nav .navbar-large-screen {
        position: fixed;
        left: 100%;
        top: 0;
        padding: 100px 0 40px;
        background-color: #265a5c;
        transition: transform 0.7s;
    }

    /* show menu when clicked */
    header .navbar-large-screen.open {
        transform: translateX(-100%);
    }

    header .click-to-open {
        display: flex;
        align-items: center;
        position: relative;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 1;
    }

    /* span, lines for navbar menu option */
    header button .show-menu {
        position: absolute;
        height: 3px;
        width: 24px;
        background-color: #f1f1f1;
        transition: transform 0.7s;
    }

    /* adds line above */
    header button .open-menu {
        transform: translateY(-10px);
    }

    /* adds line under */
    header button .close-menu {
        transform: translateY(10px);
    }

    /* rotate when button is clicked to make a X shape */
    header button.active .open-menu {
        transform: rotate(-38deg);
    }

    header button.active .close-menu {
        transform: rotate(38deg);
    }

    header button.active .self-rotet {
        transform: rotate(38deg);
    }

    .hero-text {
        h1 {
            font-size: smaller;
        }
    }



    /* page name */
    .dolomites {
        margin-left: 0;
    }

    .page-name {
        font-weight: 300;
        font-size: 2rem;
    }
}

/* 4k screens 2560px up */
@media only screen and (max-width: 2560px) {

    /* hero sectio */
    .hero-section {
        height: 86.8vh;
    }


    /* feedback form */
    .form-container {
        height: 90vh;
    }

}